{% extends 'excellent-community/base.html' %}
{% load static %}

{% block title %}Administratives{% endblock %}

{% block content %}

<section class="text-center text-light d-flex justify-content-center align-items-center" style="height: 60vh; width: 100%; background-color: var(--primary-color);">
    <div class="container">
        <h1 class="fw-4">Administratives</h1>
    </div>
</section>

<div class="container mt-5">
  <div class="row g-4">
    {% for admin in administratives %}
      <div class="col-md-4 mb-4">
        <div class="card">
          <img src="{{ admin.staff_pic.url }}" class="card-img-top" alt="{{ admin.get_work_title_display }}">
          <div class="card-body">
            <h5 class="card-title">{{ admin.get_work_title_display }}</h5>
            <p class="card-text">{{ admin.staff_user.get_full_name }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
</div>

{% endblock %}
