{% extends 'excellent-community/base.html' %}
{% load static %}

{% block title %}Gallery{% endblock %}

{% block content %}

<section class="bg-dark text-center text-light d-flex justify-content-center align-items-center" style="height: 60vh; width: 100%;">
    <div class="container">
        <h1 class="fw-4">Our Galleries</h1>
    </div>
</section>

<div class="gallery container my-5">
  {% for img in images %}
    <div class="image-container">
        <a href="#image{{ forloop.counter }}">
            <img src="{{ img.image.url }}" alt="{{ img.title }}" title="click for full view">
        </a>
    </div>
  {% empty %}
    <p>No images available yet.</p>
  {% endfor %}
</div>

{% for img in images %}
<div class="lightbox" id="image{{ forloop.counter }}">
    <a href="#" class="close">CLOSE</a>
    <div class="lightbox-content">
        <img src="{{ img.image.url }}" alt="{{ img.title }}">
    </div>
</div>
{% endfor %}

{% endblock %}
