<nav class="navbar navbar-expand-lg position-fixed w-100" style="top: 0; z-index: 1030; background-color: {{ site_setting.primary_color|default:'#343a40' }};">
    <div class="container-fluid">
      
      <!-- Sidebar Toggle Button -->
      <button class="navbar-toggler me-2" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
        <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Brand Title -->
      <a class="navbar-brand fw-bold text-uppercase head-text text-white" href="{% url 'staffHome' 1 %}">
        {{ site_setting.site_name|default:"Excellent Community School Giwa" }}
      </a>
  
      <!-- Right Aligned Dropdown -->
      <ul class="navbar-nav ms-auto" style="margin-right: 40px;">
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle text-white" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="bi bi-person-circle fs-5"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
            {% if user.user_type != '2' %}
              <li><a href="{% url 'logout' %}" class="dropdown-item text-danger">Logout</a></li>
            {% else %}
              <li><a class="dropdown-item" href="{% url 'viewStaff' user.staff.id %}">My Profile</a></li>
              <li><a class="dropdown-item" href="{% url 'staffSetting' user.staff.id %}">Settings</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a href="{% url 'logout' %}" class="dropdown-item text-danger">Logout</a></li>
            {% endif %}
          </ul>
        </li>
      </ul>
  
    </div>
  </nav>
  